.categories {
  header {
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--color-white);
    background: var(--color-primary);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    padding: 0.5rem;

    a {
      text-decoration: none;
      color: inherit;
    }

    .icon {
      font-size: var(--font-size-xxl);
    }

    h1 {
      text-align: center;
      text-transform: uppercase;
      font-weight: normal;
      color: var(--color-white);
      font-size: var(--font-size-xl);
    }

    .btn--ghost {
      text-transform: none;
      padding: 0;
      font-weight: lighter;
      text-align: end;
    }
  }

  main {
    min-height: 100vh;
    padding-top: 6rem;
    padding-bottom: 7rem;
    background: var(--color-background-light);
  }

  &--no-expenses {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--details {
    padding: var(--space-s);
    background: var(--color-background-white);

    &--header {
      &--icon {
        height: var(--space-xxxxl);
        width: var(--space-xxxxl);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        color: var(--color-text-muted);
        font-size: var(--font-size-xs);
      }
    }
  }

  &--footer {
    background: var(--color-secondary);
    padding: var(--space-m);
    height: 5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
