.mt-1 {
  margin-top: var(--space-xs);
}

.mt-2 {
  margin-top: var(--space-s);
}

.mt-3 {
  margin-top: var(--space-m);
}

.mt-4 {
  margin-top: var(--space-l);
}

.mt-5 {
  margin-top: var(--space-xl);
}
