.mt-1 {
  margin-top: var(--space-xs);
}

.mt-2 {
  margin-top: var(--space-s);
}

.mt-3 {
  margin-top: var(--space-m);
}

.mt-4 {
  margin-top: var(--space-l);
}

.mt-5 {
  margin-top: var(--space-xl);
}

.mx-1 {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.mx-2 {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.mx-3 {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}

.mx-4 {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.mx-5 {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}
