.py-1 {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

.py-2 {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.py-3 {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.py-4 {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}

.py-5 {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}
