<section id='splash'>
  <h1>Splash#index</h1>
  <p><%= link_to 'Log in', new_user_session_path, class:'btn btn--primary' %></p>
  <p><%= link_to 'Sign up', new_user_registration_path, class:'btn btn--ghost' %></p>
</section>
