<section class='splash'>
  <h1>Snapscan</h1>
  <div class='splash--buttons'>
    <%= link_to 'Log in', new_user_session_path, class:'btn btn--primary' %>
    <%= link_to 'Sign up', new_user_registration_path, class:'btn btn--ghost' %>
  </div>
</section>
