<%= form_with model: category do |form| %>
  <div class="field border-top border-bottom">
    <%= form.text_field :name, placeholder: 'Name' %>
  </div>
  <div class="field border-bottom">
    <%= form.text_field :icon, placeholder: 'Icon' %>
  </div>
  <div class='mt-5 py-2'>
    <%= form.submit class: 'btn btn--primary' %>
  </div>
<% end %>
