<section class='categories'>
  <header>
    <%= link_to sanitize("&larr;"), :back, class: 'icon' %>
    <h1>New Category</h1>
    <span></span>
  </header>
  <main>
    <%= render 'form', category: @category %>
  </main>
</section>
